body{
background-color:grey;

}

#one{
    background-color:green;
}

.two{
    background-color: red;
}

.three{
    background-color: cornflowerblue;
}
table, th, td {
    border:3px double black;
  }